.secretul {
    padding-top: 30px;
    margin: 10px;
    float: left;
}

.descriere {
    width: 50%;
    justify-content: center;
    align-items: center;
    float: right;
    margin-right: 90px;
    

}
p {
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 45px;
}
.autor {
    margin-bottom: 30px;
}
#pret {
    font-size: 20px;
    font-style:bold;
}
button {
    font-size: 17px;
    border: 2px solid olive;
    border-radius: 5px;
    margin-left: 40%;
    cursor: pointer;
    
}
button:hover{
    background-color: darkslategray;
    color: lemonchiffon;
}